<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OverlayController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <OverlayController.Properties.Settings>
            <setting name="OneCarColor" serializeAs="String">
                <value />
            </setting>
            <setting name="TwoCarColor" serializeAs="String">
                <value />
            </setting>
            <setting name="InTheMiddleColor" serializeAs="String">
                <value />
            </setting>
            <setting name="FasterClassColor" serializeAs="String">
                <value />
            </setting>
            <setting name="FasterClassDistance" serializeAs="String">
                <value />
            </setting>
            <setting name="XLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="YLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="OverlayWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="IndicatorHeight" serializeAs="String">
                <value />
            </setting>
            <setting name="IndicatorWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="SpaceBetween" serializeAs="String">
                <value />
            </setting>
            <setting name="SpaceToEdge" serializeAs="String">
                <value />
            </setting>
        </OverlayController.Properties.Settings>
    </userSettings>
</configuration>